/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~@ng-select/ng-select/themes/default.theme.css";

/* Set a style for the buttons*/
button {
  background-color: #6658F6 !important;
  color: white !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none !important;
  cursor: pointer;
}

/* Set a hover effect for the button*/
button:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}
.f-22 {
  font-size: 22px !important;
}

@import '../node_modules/bootstrap/scss/bootstrap'
